<h2>Geocode a Location</h2>

<p class="lead">Enter a location to geocode. <strong>At least one part</strong> of the address is required to perform a search.

<%= render 'form', location: @location %>

<%= render 'index' %>
